@import "tailwindcss";

@theme inline {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dblue: #0000aa;
  --color-lcyan: #55ffff;
  --color-dcyan: #00aaaa;
  --color-lgrey: #aaaaaa;
  --color-yellow: #ffff55;
  --text-32: 32px;
  --text-36: 36px;
}

@font-face {
  font-family: "ModernDOS8x16";
  src:
    url("/fonts/ModernDOS8x16.woff2") format("woff2"),
    url("/fonts/ModernDOS8x16.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family:
    "ModernDOS8x16", ui-monospace, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}
