@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dblue: #0000aa;
  --color-lcyan: #55ffff;
  --color-dcyan: #00aaaa;
  --color-lgrey: #aaaaaa;
  --color-yellow: #ffff55;
}

@font-face {
  font-family: "ModernDOS8x16";
  src: url("/fonts/ModernDOS8x16.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: "ModernDOS8x16", monospace;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}
